<!doctype html>
<html lang="ko-KR">
    <head>
        <title>Vite Pure css</title>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <link rel="stylesheet" href="/src/styles/main.css" />
        <link rel="stylesheet" href="/src/styles/reset.css" />
        <link rel="stylesheet" href="/src/components/add-cart/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="module" src="/src/components/add-cart/index.js"></script>
        <script type="module" src="/main.js"></script>
    </head>
    <body>
        <div class="add-cart-container">
            <section>
                <h1 class="item-title">[풀무원] 탱탱쫄면 (4개입)</h1>
                <div class="total-price-container">
                    <span class="item-price">4,980원</span>
                    <span class="amount-container">
                        <button class="minus-button">-</button>
                        <span class="item-amount">1</span>
                        <button class="plus-button">+</button>
                    </span>
                </div>
            </section>
            <section>
                <div class="sum-container">
                    <h1 class="sum">합계</h1>
                    <div class="total-price">4,980원</div>
                </div>
                <div class="saving-container">
                    <span class="saving">적립</span>
                    <span class="saving-info">구매시 5원 적립</span>
                </div>
            </section>
            <div class="add-confirm-container">
                <button class="add-cancel">취소</button>
                <button class="add-confirm">장바구니 담기</button>
            </div>
        </div>
    </body>
</html>
