.add-cart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24.75rem;
    height: 18.25rem;
    border: 1px solid dodgerblue;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    .item-title {
        font-size: 1rem;
        line-height: 150%;
        color: #333;
    }

    .total-price-container {
        display: flex;
        justify-content: space-between;
        margin-top: 0.75rem;

        .item-price {
            font-size: 1rem;
            line-height: 150%;
            font-weight: bold;
        }

        .amount-container {
            border: 1px solid #c4c4c4;
            display: flex;
            width: 5.25rem;
            height: 1.875rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0.1875rem;
            font-size: 1rem;

            .plus-button {
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                height: 1.875rem;
            }

            .item-amount {
            }

            .minus-button {
                background-color: transparent;
                border: none;
                font-size: 2rem;
            }
        }
    }
    .sum-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: first baseline;
        margin-bottom: 0.25rem;

        .sum {
            right: 0;
            font-size: 1rem;
            line-height: 150%;
            color: #333;
        }

        .total-price {
            font-size: 1.775rem;
            font-weight: bold;
            line-height: 140%;
        }
    }

    .saving-container {
        float: right;
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .saving {
            background-color: #fa622f;
            color: #fff;
            border-radius: 0.0625rem;
            font-size: 0.75rem;
            line-height: 150%;
            padding-inline: 0.5rem;
        }

        .saving-info {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .add-confirm-container {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        .add-cancel {
            width: 10.875rem;
            padding-block: 0.9375rem;
            background-color: transparent;
            border-radius: 0.25rem;
            border: 1px solid #898989;
            color: #333;
        }

        .add-confirm {
            width: 10.875rem;
            background-color: #5f0080;
            color: #fff;
            border-radius: 0.25rem;
            border: 1px solid #5f0080;
            padding-block: 0.9375rem;
        }
    }
}
